

<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
    <div class="logo-container">
    </div>
    <ul class="menu-items">
      <li routerLink="" routerLinkActive="router-link-active" ><mat-icon fontIcon="space_dashboard"></mat-icon>Dashboard</li>
      <li routerLink="newCustomersOverview" routerLinkActive="router-link-active" ><mat-icon fontIcon="person"></mat-icon>Neukunden</li>
      <li routerLink="existingCustomersOverview" routerLinkActive="router-link-active" ><mat-icon fontIcon="person"></mat-icon>Bestandskunden</li>
      <li routerLink="vipCustomersOverview" routerLinkActive="router-link-active" ><mat-icon fontIcon="person"></mat-icon>V.I.P</li>
      <li routerLink="offerOverview" routerLinkActive="router-link-active" ><mat-icon fontIcon="list_alt"></mat-icon>Angebotsübersicht</li>
    </ul>


  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-icon (click)="drawer.toggle()" class="menu-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>


  </div>

</mat-drawer-container>
