<div class="bg">
  <mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
      <div class="logo-container"></div>
      <ul class="menu-items">
        <li routerLink="dashboard" routerLinkActive="router-link-active">
          <mat-icon fontIcon="space_dashboard"></mat-icon
          >{{ "menu.1" | translate }}
        </li>
        <li
          routerLink="newCustomersOverview"
          routerLinkActive="router-link-active"
        >
          <mat-icon fontIcon="person"></mat-icon>{{ "menu.2" | translate }}
        </li>
        <li
          routerLink="existingCustomersOverview"
          routerLinkActive="router-link-active"
        >
          <mat-icon fontIcon="person"></mat-icon>{{ "menu.3" | translate }}
        </li>
        <li
          routerLink="vipCustomersOverview"
          routerLinkActive="router-link-active"
        >
          <mat-icon fontIcon="person"></mat-icon>{{ "menu.4" | translate }}
        </li>
        <li routerLink="OPL" routerLinkActive="router-link-active">
          <mat-icon fontIcon="list_alt"></mat-icon>{{ "menu.5" | translate }}
        </li>
        <li
          class="imprint"
          routerLink="imprint"
          routerLinkActive="router-link-active"
        >
          <mat-icon fontIcon="policy"></mat-icon>{{ "menu.6" | translate }}
        </li>
      </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
      <mat-toolbar>
        <mat-icon
          (click)="drawer.toggle()"
          class="menu-icon"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="menu"
        ></mat-icon>
        <span>Simple CRM</span>

        <button class="toggle-btn" mat-button (click)="toggleTheme()">
          <mat-icon>{{ isDarkMode ? "dark_mode" : "light_mode" }}</mat-icon>
        </button>

        <label class="switch">
          <input
            id="language-toggle"
            type="checkbox"
            [checked]="isChecked"
            (change)="toggleLanguage()"
          />
          <span class="slider round"></span>
        </label>
      </mat-toolbar>

      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>
