.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  margin: 32px;
  &:hover {
    cursor: pointer;
  }
}

.sidenav {
  width: 300px;
}

.logo-container {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(226, 226, 226, 0.5);
  padding: 16px;
  height: 56px;
  display: flex;
  align-items: center;
  background-image: url(../assets/img/logo2_head.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 56px;
}

.menu-items {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 16px;
    height: 48px;
    border-radius: 0 20px 20px 0;

    &:hover {
      cursor: pointer;
      background-color: rgba(226, 226, 226, 0.1) ;
    }
  }

}

.imprint {
  position: absolute;
  bottom: 16px;
}

.router-container {
padding: 16px 56px;
}

.router-link-active {
  background-color: rgba(17, 107, 94, 0.534);
}

.mat-drawer-container {
  max-width: 1440px;
  margin: auto;

}

.bg{
  background-color: rgb(44,45,45);
}


