<mat-dialog-content>
  <div>
    <mat-form-field appearance="outline" class="mr-16">
      <mat-label>First Name</mat-label>
      <input [(ngModel)]="firstName" matInput placeholder=" " />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input [(ngModel)]="lastName" matInput placeholder=" " />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="fill-width">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="email" matInput placeholder=" " />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker">
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button  mat-button (click)="closeDialog()">Cancel</button>
  <button  mat-button (click)="saveHead(user)" cdkFocusInitial>Save</button>
</mat-dialog-actions>
