<mat-card class="user-detail-header">
  <mat-card-content>
    <button [matMenuTriggerFor]="headerMenu" class="more-btn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #headerMenu="matMenu">
      <button mat-menu-item (click)="openEditHeaderDialog(customer)">Kopdaten bearbeiten</button>
      <button mat-menu-item>Kategorie ändern</button>
    </mat-menu>

    <img class="profil-pic" src="./assets/img/Avatar.svg" alt="" />
    <div>
      <h2>{{customer.firstName}}  {{customer.lastName}}</h2>
      <p>{{ customer.email }}</p>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mt-32">
  <mat-card-header>
    <mat-card-title>Adresse</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button [matMenuTriggerFor]="menu" class="more-btn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openEditAddressDialog(customer)">Adressdaten bearbeiten</button>
      <button mat-menu-item>abweichende Adressdaten anlegen</button>
    </mat-menu>

    <p> {{customer.street}} <br>
      {{customer.zipCode}} {{customer.city}}</p>
  </mat-card-content>
</mat-card>
