<mat-card>
  <mat-card-content>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>First Name</th>
        <th>City</th>
      </tr>
      <tr>
        <td>name1</td>
        <td>first name 1</td>
        <td>City 1</td>
      </tr>
      <tr>
        <td (click)="getUserList()">name2</td>
        <td>first name 2</td>
        <td>City 2</td>
      </tr>

    </table>
  </mat-card-content>
</mat-card>

<div class="add-user-button">
  <button
    mat-fab
    color="primary"
    matTooltip="Add new User"
    matTooltipPosition="above"
    aria-label="Example icon button with a delete icon"
    (click)="openDialog()"
  >
    <mat-icon>person_add</mat-icon>
  </button>
</div>
