<div class="dashboard-container">
  <h1>Willkommen in deinem Simple CRM Dashboard!</h1>

  <div class="row">
    <mat-card>
      <mat-card-content class="datetime-container">
        <p class="weekday">{{ currentWeekday }}</p>
        <p class="date">{{ currentDate }}</p>
        <p class="time">{{ currentTime }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content class="logo-container"> </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <p>{{ tasks }}</p>
        <p>offene Aufgaben</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row">
    <mat-card>
      <mat-card-content>
        <p>
          {{ newCustomers }}
        </p>
        <p>Neukunden</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <p>{{ existingCustomers }}</p>
        <p>Bestandskunden</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <p>{{ vipCustomers }}</p>
        <p>V.I.P. Kunden</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
