<div class="dashboard-container">
  <h1>Willkommen in deinem Simple CRM Dashboard!</h1>

  <mat-card>
    <mat-card-content class="datetime-container">
      <p class="time">{{ currentTime }}</p>
      <p class="date">{{ currentDate }}</p>
      <p class="weekday">{{ currentWeekday }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>{{tasks}} <br>
      <br> offene Aufgaben</mat-card-content>
  </mat-card>

  <div class="row">
    <mat-card>
      <mat-card-content>
        <p>{{ newCustomers }} <br>
          <br>Neukunden</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <p>{{ existingCustomers }} <br>
          <br>Bestandskunden</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <p>{{ vipCustomers }} <br>
          <br>V.I.P. Kunden</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
