@use '@angular/material' as mat;

$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$blue-grey-palette),
    accent: mat.define-palette(mat.$deep-orange-palette),
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

.light-mode {
  @include mat.all-component-themes($light-theme);
}

.dark-mode {
  @include mat.all-component-themes($dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-16 {
  margin-right: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.full-width {
  width: 100%;
}

th {
  font-weight: 300;
}

